/*------------------Etiquetas-----------------------*/

header {
    /*border: solid;
    border-color: #b6e925;*/
    border-top: 0;
}

footer {
    padding-top: 9%;
    /*border: solid;
    border-color: aqua;*/
}

body {
    background-color: rgba(0, 0, 0, 0.938);
    overflow-x: hidden;
}

nav {
    width: 60%;
    margin-top: 1%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 2.5em;
    line-height: 1.3;
    color: white;
}

h3 {
    font-size: 1.5em;
    color: white;
    letter-spacing: 0;
}

h4 {
    font-size: 0.8125rem;
}

h6 {
    font-size: 0.75em;
}

p {
    font-family: "Roboto", sans-serif;
    color: #cfcfcf;
    line-height: 1.85;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

/*table th, td {
    border: solid;
    border-color: red;
}*/

table th {
    font-weight: 400;
}

/*---------------------------ID-----------------------------------------------------------*/

#parte-superior {
    justify-content: center;
    align-items: center;
}

#parte-inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: solid;
    border-color: #b6e925;*/
}

#logo {
    width: 30%;
    margin-top: 1%;
}

#marcas-Logoipsum {
    padding-top: 5.5%;
    padding-left: 4.5%;
    text-align: center;
}

#texto-pequeno {
    padding-top: 17%;
    margin-bottom: -3%;
}

#texto-grande {
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: -1.5%;
}

#caja-boton-especial {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
 }

#estilo-boton-enlace-especial {
    color: white;
    letter-spacing: 2px;
}

#estilo-boton-enlace-especial:hover {
    color: #b6e925;
}

#boton-especial {
    padding-left: 45px;
    padding-right: 45px;
    border-color: white;
}

#boton-trabajo {
    margin-right: 65%;
}

#boton-arma-tu-moto {
    margin-right: 75%;
}

#caja-presentacion {
    width: 100%;
    /*border: solid;
    border-color: blueviolet;*/
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
#menu li {
    margin-left: 5%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
}

#lista-trabajo {
    padding-left: 0;
}

#lista-trabajo li {
    margin-bottom: -2%;
}

#elemento-menu-especial {
    margin-right: 2%;
}

#pagina-actual {
    color: white;
}

#navegacion-input {
    display: none;
}

#icono-desplegable {
    color: #b6e925;
    cursor: pointer;
}

#pestana-caja {
    display: none;
    background-color: transparent;
    border: none;
    float: right;
}

#cont-historia {
    padding-top: 5.5%;
}

#cont-trabajo {
    /*width: 100%;*/
    padding-top: 9.1%;
}

#cont-client-say {
    padding-top: 22%;
}

#cont-owner {
    padding-top: 13%;
}

#cont-arma-tu-moto {
    padding-right: 50%;
}

#foto-vid {
    padding-top: 7.7%;
    padding-right: 5%;
    /*border: solid;
    border-color: burlywood;*/
}

#descripcion-historia {
    padding-right: 14%;
}

#descripcion-trabajo {
    padding-right: 25%;
}

#descripcion-testimonio {
    padding-right: 13%;
}

#descripcion-owner {
    padding-right: 25%;
}

#descripcion-arma-tu-moto {
    padding-right: 5%;
}

#adorno-1 {
    background-image: url(https://websitedemos.net/bike-modification-04/wp-content/uploads/sites/736/2020/11/custom-bike-builder-story-section-bg.svg);
    background-position: right;
    background-size: 70%;
    margin-top: 21.1%;
    /*margin-top: 70%;*/
    margin-left: 21%;
}

#adorno-2 {
    background-image: url(https://websitedemos.net/bike-modification-04/wp-content/uploads/sites/736/2020/11/custom-bike-builder-service-section-bg-l.svg);
    background-position: left;
    background-size: 50%;
    margin-top: 16.8%;
    /*margin-top: 147.8%;*/
    padding-left: 1.1%;
}

#adorno-3 {
    background-image: url(https://websitedemos.net/bike-modification-04/wp-content/uploads/sites/736/2020/11/custom-bike-builder-service-section-bg-r.svg);
    background-position: right;
    /*background-size: 14.3%;
    margin-top: 12.3%;
    margin-top: 143.5%;
    margin-left: 0;*/
}

#adorno-4 {
    background-image: url(https://websitedemos.net/bike-modification-04/wp-content/uploads/sites/736/2020/11/custom-bike-builder-testimonial-section-bg.svg);
    background-position: right;
    background-size: auto;
    padding-top: 30%;
    padding-left: 21.5%;
}

#adorno-5 {
    background-image: url(https://websitedemos.net/bike-modification-04/wp-content/uploads/sites/736/2020/11/custom-bike-builder-owner-section-bg.svg);
    background-position: left;
    background-size: 50.6%;
    /*margin-top: 16.85%;*/
}

#adorno-7 {
    background-image: url(https://websitedemos.net/bike-modification-04/wp-content/uploads/sites/736/2020/11/custom-bike-builder-story-section-bg.svg);
    background-position: right;
    background-size: 50%;
    left: 0;
    right: 0;
    /*margin-top: -3%;
    margin-left: 31%;*/
}

#tabla-numerico {
    margin-top: 10.5%;
    margin-left: 1%;
    margin-right: 9%;
}

#tabla-numerico th, td {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#tabla-numerico td {
    padding-bottom: 0.5%;
}

#dato-numerico {
    color: white;
    font-size: 4.3em;
}

#info-dato-numerico {
    color: #cfcfcf;
    font-size: small;
}

#estilo-tabla-header {
    padding-left: 20%;
    padding-right: 20%;
}

#estilo-footer-tabla {
    font-size: 0.9em;
    text-align: left;
    width: 91%;
    margin-left: 4.1%;
}

#estilo-footer-tabla td {
    font-weight: 500;
}

#footer-td-casilla-1 {
    width: 22%;
    padding-right: 3%;
    padding-top: 1.5%;
}

#footer-td-casilla-2 {
    width: 20%;
    padding-right: 2%;
}

#footer-td-casilla-3 {
    width: 22%;
    line-height: 2;
}

#footer-td-casilla-4 {
    width: 33%;
}

.boton-footer-servicios {
    color: white;
}

#lista-servicios {
    padding-left: 0;
}

#tabla-our-team {
    margin-left: 4.1%;
    margin-right: 4.2%;
}

#foto-moto-Honda {
    padding-top: 11.3%;
    width: 52%;
}

#posicion-moto-Honda {
    left: -20%;
}

#foto-testimonio-1 {
    padding-top: 5.7%;
    width: 84%;
}

#fix-1-fondo-moto {
    background-size: 146.7%; /*147*/
    opacity: .35;
    background-position-y: top;
    height: 993px;
    top: 0;
}

#foto-Matt-Owen {
    width: 104.5%;
    padding-top: 7%;
    padding-left: 5%; /*4.5*/
}

#icono-play {
    position: absolute;
    width: 4.5%;
    transition: filter 0.3s ease;
}

#pos-icono-play-1 {
    position: absolute;
    margin-top: -17%;
    margin-left: 20%;
}

#espacio-input-email {
    margin-right: 1%;
    margin-top: 3%;
    width: 100%;
}

#derechos-reservados {
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding-top: 4%;
    padding-bottom: 1.5%;
}

/*--------------------Clases------------------------------------------------------*/

.contenedor {
    display: flex;
    width: 100%;
    /*border: solid;
    border-color: #b6e925;*/
}

.contenedor-2 {
    width: 100%;
}

.marco-foto {
    width: 100%;
    /*border: solid;
    border-color: crimson;*/
}

.marco-foto-exterior {
    display: flex;
    width: 90%;
    /*border: solid;
    border-color: crimson;*/
}

.imagen-predeterminada-1 {
    width: 100%;
}

.imagen-predeterminada-2 {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
}

.imagen-predeterminada-3 {
    width: auto;
}

.sin-limite-margen {
    overflow: visible;
    position: relative;
}

.estilo-boton-enlace {
    text-decoration: none;
}

.texto-boton-enlace:hover {
    color: black;
}

.boton-predeterminado {
    width: auto;
    height: auto;
    padding-left: 30px;
    padding-right: 30px;
    border: solid;
    border-width: 2px;
    border-color: #b6e925;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    line-height: 0em;
}

.boton-predeterminado:hover {
    background-color: white;
    border-color: white;
}

.texto-presentacion {
    text-align: center;
    /*border: solid;
    border-color: blueviolet;*/
}

.estilo-div-h1 {
    color: white;
    font-size: 2.5em;
}

/*.fondo-claro {
    background-color: rgba(255, 255, 255, 0.05);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 147%;
    background-position-y: top;
    mix-blend-mode: screen;
    transition: background .3s, border-radius .3s, opacity .3s;
    height: 993px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    border: solid;
    border-color: coral;
}*/

.fondo-moto {
    background-image: url(https://websitedemos.net/bike-modification-04/wp-content/uploads/sites/736/2020/11/custom-bike-builder-hero-section-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /*background-size: 147%;*/
    /*background-position-y: top;*/
    mix-blend-mode: screen;
    transition: background .3s, border-radius .3s, opacity .3s;
    /*height: 993px;*/
    width: 100%;
    /*top: 0;*/
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.fondo-moto-footer {
    background-image: url(https://websitedemos.net/bike-modification-04/wp-content/uploads/sites/736/2020/11/custom-bike-builder-cta-section-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 136%;
    opacity: .35;
    mix-blend-mode: screen;
    transition: background .3s, border-radius .3s, opacity .3s;
    width: 100%;
    height: 700px;
    left: 0;
    right: 0;
    margin-top: -1.5%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.adornos {
    background-repeat: no-repeat;
    mix-blend-mode: screen;
    transition: background .3s, border-radius .3s, opacity .3s;
    height: 100%;
    width: 100%;
    /*top: 0;*/
    right: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

.estilo-li{
    list-style-type: none;
}

.opciones {
    text-decoration: none;
    white-space: nowrap;
    color: #cfcfcf;
}

.opciones:hover {
    color: white;
}

.texto-cont-izquierda {
    width: 100%;
    padding-left: 5%; /*4.5*/
    /*border: solid;
    border-color: burlywood;*/
}

.texto-cont-derecha {
    width: 100%;
    padding-left: 2.2%;
    /*border: solid;
    border-color: burlywood;*/
}

.texto-verde {
    color: #b6e925;
    letter-spacing: 2px;
}

.dato-fix {
    padding-right: 7%;
}

.tabla-ultimos-trabajos {
    margin-left: 1.8%;
    margin-right: 2.5%;
}

.celda-img {
    height: 367px;
}

.margen-tabla-1 {
    margin-top: 11%;
}

.margen-tabla-2 {
    margin-top: 5%;
}

.foot-fix {
    padding-left: 3%;
}

.h3-especial {
    font-size: 1.2em;
}

.espacio-texto-contenido-1 {
    margin-top: -3%;
}

.espacio-texto-contenido-2 {
    padding-top: 0.1%;
}

.espacio-texto-contenido-3 {
    margin-top: 8%;
}

.espacio-texto-contenido-4 {
    margin-top: -6%;
}

.espacio-texto-contenido-5 {
    margin-top: 16%;
}

.espacio-texto-contenido-6 {
    margin-top: -2%;   
}

.espacio-texto-contenido-7 {
    margin-top: 24.8%;
}

.espacio-texto-contenido-8 {
    margin-top: 9%;
}

.espacio-texto-contenido-9 {
    margin-top: -3.8%;
}

.espacio-texto-contenido-10 {
    margin-top: 5%;
}

.espacio-tabla-header-1 {
    padding-bottom: 5%;
}

.espacio-foot-1 {
    margin-top: 1.5%;
}

.espacio-foot-2 {
    margin-top: 2%;
}

.interlineado-h1 {
    line-height: 1.1;
}

.espacio-texto-h1-h2-1 {
    margin-bottom: 0;
}

.espacio-texto-h2-2 {
    margin-bottom: 6%;
}

.espacio-texto-h2-3 {
    margin-bottom: 8%;
}

.espacio-punto-li {
    padding-right: 2%;
}

.iconos-redes-sociales {
    width: 40%;
    filter: invert(100%);
}

.titulo-pagina {
    text-align: center;
    padding-top: 1.6%;
    padding-left: 1%;
}

.descripcion-titulo-pagina {
    padding-top: 4.6%;
    padding-left: 11.5%;
    padding-right: 30.5%;
}

.figura-separador {
    border: solid 2px;
    border-color: #b6e925;
}

.largo-figura-separador-1 {
    width: 20%;
}

.espacio-figura-separador {
    margin-top: -5%;
    padding-left: 14%;
}

.fix-1-adorno-5 {
    margin-top: 16.85%;
}

.fix-1-adorno-3 {
    background-size: 14.3%;
    margin-top: 12.3%;
    margin-left: 0;
}

.animacion-fondo-oscuro {
    transition: filter 0.3s ease;
}

.animacion-fondo-oscuro:hover {
    filter: brightness(0.6);
}

.marco-foto:hover #foto-moto-animada {
    filter: brightness(0.6);
}

.marco-foto:hover #icono-play {
    filter: invert(100%);
}

/*----------------Responsivo--------------------------------------*/

@media (max-width: 1050px) {
    #pestana-caja {
        display: block;
    }
    #menu {
        display: none;
    }
    #navegacion-input:checked ~ #menu {
        display: block;
    }
    .fondo-moto {
        background-size: 172%;
    }
    /*#caja-presentacion {
        height: 625px;
    }*/
}

@media (max-width:850px) {
    #texto-grande {
        padding-left: 5%;
        padding-right: 5%;
    }
    .fondo-moto {
        background-size: 232%;
    }
}

@media (max-width: 850px) {
    .contenedor::content {
        width: 33%;
    }
}

@media (max-width: 1050px) {
    head {
        width: 66%
    }
    body {
        width: 66%;
    }
}
