#logo-tienda {
    width: 30%;
}

.iconos-redes {
    width: 30px;
}

.lista-navegacion li {
    margin-bottom: 10px;
}

.lista-navegacion a {
    color: black;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.titulos {
    font-family: "Bakbak One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header, footer, main {
    padding: 20px;
}
